/* ************************** */
/* Background Page CSS */
/* ************************** */

.background_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 150%; */
  background-color: darkcyan;
  /* scroll-snap-type: y mandatory; */
}

.background_container section {
  scroll-snap-align: start;
}
