/* ************************** */
/* Background Page CSS */
/* ************************** */

.background_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  /* height: 100%; */
  /* scroll-snap-type: y mandatory; */
}

.background_container section {
  scroll-snap-align: start;
}
