/* ************************** */
/* Contact Page CSS */
/* ************************** */

.contact_page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: 2px solid yellow; */
}
.popUp_box .contact_page .imageTag_cntnr {
  width: 8rem;
  height: 8rem;
  right: 0rem;
  left: 0;
  transform: translate(0rem, 0rem);
  /* border: 0.1rem solid white; */
}

.popUp_box .contact_page .imageTag_cntnr .aboutUsImg {
  width: 8rem;
  height: 8rem;
  background-color: white;
}
.popUp_box .contact_page .imageTag_cntnr button {
  display: none;
}

.popUp_box .contact_page header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: 2px solid white; */
}

.popUp_box .contact_page header h3 {
  display: flex;
  color: black;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Gluten", sans-serif;
  text-shadow: 0 0 0.3rem white;
  transform: translate(1rem, 1rem);
}
.popUp_box .contact_page header h3:nth-child(2) {
  font-size: 1.7rem;
  margin: 0.2rem 0.5rem;
  text-shadow: 0 0 0.3rem white;
}

.popUp_box .contact_page .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  left: 53%;
  top: 60%;
  width: 77%;
  height: 60%;
  gap: 1rem;
  transform: translate(-50%, -50%);
  /* border: 2px solid red; */
}

.popUp_box .contact_page .links span i {
  color: #a90d0d;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.38rem 0.5rem;
  border: 0.2rem solid #a90d0d;
  border-radius: 50%;
  background-color: white;
}

.popUp_box .contact_page .links span button {
  color: #a90d0d;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 0.1rem 0.7rem;
  border-radius: 2rem;
  border: 0.2rem solid #a90d0d;
  background-color: white;
}

.popUp_box .contact_page .links span:hover button,
.popUp_box .contact_page .links span:hover i {
  color: white;
  background-color: #a90d0d;
  border: 0.2rem solid white;
}

@media screen and (max-width: 950px) {
  .popUp_box {
    width: 35rem;
    height: 20rem;
  }
  .popUp_box .contact_page .imageTag_cntnr {
    width: 13rem;
    height: 13rem;
  }
  .popUp_box .contact_page .imageTag_cntnr .aboutUsImg {
    width: 11rem;
    height: 11rem;
    background-color: white;
  }

  .popUp_box .contact_page header h3 {
    font-size: 4rem;
    transform: translate(1.5rem, 1rem);
  }
  .popUp_box .contact_page header h3:nth-child(2) {
    font-size: 2.3rem;
  }

  .popUp_box .contact_page .links {
    width: 77%;
    height: 60%;
  }

  .popUp_box .contact_page .links span i {
    font-size: 3rem;
    padding: 0.4rem 0.6rem;
  }

  .popUp_box .contact_page .links span button {
    font-size: 2rem;
  }
}
