/* ************************** */
/* Home Page CSS */
/* ************************** */

.home_page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
  border-bottom: 1px solid white;
  /* background-image: url(./../../public/assets/bg.jpg);
  background-size: cover;
  background-position: center; */
}

.hero_section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.hero_left {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 100%;
  background-color: #a90d0d;
}

.hero_left img {
  position: relative;
  width: 16rem;
  height: 16rem;
  margin-top: 3rem;
  z-index: 2;
  cursor: pointer;
  animation: hero_img_animate 6s infinite ease-in-out;
}

/* .hero_left img:hover {
} */

@keyframes hero_img_animate {
  0%,
  100% {
    transform: translateY(-1rem) rotateZ(-1deg);
  }
  50% {
    transform: translateY(1rem) rotateZ(1deg);
  }

  /* 0% {
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(-0.5rem, -0.4rem);
  }
  75% {
    transform: translate(0.5rem, -0.4rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  } */
}

.hero_right {
  position: relative;
  display: flex;
  justify-content: start;
  width: 70%;
  height: 100%;
  background-color: black;
  /* background-image: url(./../../public/assets/bg.jpg);
  background-size: cover; */
}

.hero_right .code_logo {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 2rem;
  transform: translateX(-50%);
  background-color: white;
  /* background-color: rgba(225, 225, 225, 0.9); */
  border-radius: 50%;
  animation: code_logo_rotate 5s infinite;
}

@keyframes code_logo_rotate {
  0%,
  100% {
    transform: translateX(-50%) translateY(0rem) rotateZ(0deg);
  }
  50% {
    transform: translateX(-50%) translateY(10rem) rotateZ(360deg);
  }
}

.hero_right .code_logo i {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  color: black;
}

.hero_right .code_logo i:nth-child(1) {
  color: black;
}

.hero_right .code_logo i:nth-child(2) {
  color: #a90d0d;
}

.hero_absolute_setion {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
}

.hero_absolute_setion .upper_part {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
  height: 80%;
  /* border: 1px solid white; */
}

.upper_part .intro {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  /* border: 1px solid white; */
}

.intro .intro_upper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
}
.intro .intro_upper p {
  color: white;
  /* color: #a90d0d; */
  font-weight: bolder;
  transform: translateX(-60%);
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
}
.intro .intro_mid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 10%;
  /* border: 1px solid white; */
}

.intro .intro_mid p {
  color: white;
  /* color: #a90d0d; */
  font-weight: bolder;
  transform: translateX(25%);
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
}

.intro .intro_lower {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 60%;
  /* border: 1px solid white; */
}

.intro .intro_lower .profession {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  height: 4rem;
  background-color: white;
}

.intro .intro_lower .tag_line_cntnr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 60%;
  padding-left: 5rem;
  gap: 0 1rem;
  /* border: 1px solid white; */
}
.intro .intro_lower .tag_line_cntnr strong {
  font-size: 1.2rem;
  line-height: 1.6rem;
  /* color: #09ffff; */
  /* color: black; */
}

.intro .intro_lower .tag_line_cntnr .link_resume,
.intro .intro_lower .tag_line_cntnr .link_aboutMe {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 1.7rem;
  padding: 0 0.5rem;
  /* transform: translateY(0.5rem); */
  background-color: #a90d0d;
  border-radius: 2rem;
  border: 0.1rem solid white;
  cursor: pointer;
  transition: 0.2s;
}

.intro .intro_lower .tag_line_cntnr .link_resume:hover,
.intro .intro_lower .tag_line_cntnr .link_aboutMe:hover {
  background-color: white;
  border: 0.1rem solid #a90d0d;
}

.intro .intro_lower .tag_line_cntnr span a {
  color: white;
  font-size: 1.3rem;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  transition: 0.2s;
}
.intro .intro_lower .tag_line_cntnr span:hover i,
.intro .intro_lower .tag_line_cntnr span:hover a {
  color: #a90d0d;
}

.intro .intro_lower .tag_line_cntnr span i {
  color: white;
  font-size: 1.3rem;
  transform: translateX(0.2rem);
  font-weight: lighter;
}

.intro .intro_lower .tag_line_cntnr .link_aboutMe i {
  animation: abouteMe_arrow_anime 2s infinite;
}
@keyframes abouteMe_arrow_anime {
  0%,
  100% {
    transform: translate(0.2rem, -0.1rem);
  }
  50% {
    transform: translate(0.2rem, 0.1rem);
  }
}

.intro .intro_lower .home_links {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  width: 15%;
  height: 60%;
  padding-top: 0.3rem;
  /* border: 1px solid white; */
}

.intro .intro_lower .home_links span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.1rem solid white;
  background-color: #a90d0d;
  cursor: pointer;
  transition: 0.2s;
}
.intro .intro_lower .home_links span:hover {
  /* width: 2.9rem;
  height: 2.9em; */
  background-color: white;
  border: 0.1rem solid #a90d0d;
}

.intro .intro_lower .home_links span i,
.intro .intro_lower .home_links span a {
  font-size: 1.5rem;
  color: white;
  transition: 0.2s;
  text-decoration: none;
}

.intro .intro_lower .home_links span:hover i {
  /* font-size: 2rem; */
  color: #a90d0d;
}

.hero_absolute_setion .lower_part {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 15%;
  /* border: 4px solid rgb(63, 54, 54); */
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1000px) {
  .intro .intro_lower .tag_line_cntnr,
  .intro .intro_lower .home_links {
    height: 50%;
    transform: translateY(-1.5rem);
  }
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 750px) {
  .hero_section {
    display: flex;
    flex-direction: column;
  }

  .hero_left {
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    height: 25%;
    margin-top: 5%;
  }

  .hero_left img {
    margin-top: 0;
    width: 28rem;
    height: 28rem;
  }

  @keyframes hero_img_animate {
    0%,
    100% {
      transform: translateY(-2rem) rotateZ(-3deg);
    }
    50% {
      transform: translateY(0.5rem) rotateZ(3deg);
    }
  }

  .hero_right {
    width: 100%;
    height: 65%;
    /* border: 1px solid white; */
  }

  .hero_right .code_logo {
    margin-top: 0;
    width: 7rem;
    height: 7rem;
    transform: translate(50%, -50%);
    animation: code_logo_rotate 7s infinite;
  }

  @keyframes code_logo_rotate {
    0%,
    100% {
      transform: translate(50%, -50%) translateX(0rem) rotateZ(0deg);
    }
    50% {
      transform: translate(50%, -50%) translateX(40rem) rotateZ(360deg);
    }
  }

  .hero_right .code_logo i {
    font-size: 3rem;
  }

  .hero_absolute_setion .upper_part {
    justify-content: center;
    height: 90%;
    /* border: 1px solid gold; */
  }
  .hero_absolute_setion .lower_part {
    width: 100%;
    height: 10%;
    /* border: 2px solid white; */
  }

  .upper_part .intro {
    width: 95%;
    height: 100%;
    /* border: 1px solid white; */
  }

  .intro .intro_upper {
    height: 50%;
    /* border: 1px solid white; */
  }
  .intro .intro_upper p {
    transform: translateX(0rem);
    font-size: 6rem;
  }

  .intro .intro_mid {
    height: 6%;
    /* border: 1px solid red; */
  }
  .intro .intro_mid p {
    transform: translateX(0);
    font-size: 4rem;
    letter-spacing: 0.4rem;
    font-weight: bolder;
  }

  .intro .intro_lower {
    justify-content: center;
    align-items: center;
    height: 44%;
    /* border: 2px solid yellow; */
  }

  .intro .intro_lower .profession {
    width: 100%;
    height: 6.5rem;
    border: 1px solid white;
  }

  .intro .intro_lower .tag_line_cntnr {
    transform: translateY(-8rem);
    width: 100%;
    height: 40%;
    padding-left: 0rem;
    gap: 0 2rem;
    order: 3;
  }
  .intro .intro_lower .home_links {
    transform: translateY(-4rem);
    width: 100%;
    height: 15%;
    align-items: center;
    padding-top: 0rem;
    gap: 0rem 1rem;
    order: 2;
    /* border: 2px solid green; */
  }

  .intro .intro_lower .tag_line_cntnr strong {
    width: fit-content;
    height: fit-content;
    font-size: 2.8rem;
    line-height: 4rem;
    transform: translateY(-0.5rem);
    /* border: 1px solid white; */
  }

  .intro .intro_lower .tag_line_cntnr .link_resume,
  .intro .intro_lower .tag_line_cntnr .link_aboutMe {
    height: fit-content;
    padding: 0.1rem 1rem;
    margin-top: 2rem;
    gap: 0 0.5rem;
    transform: translateY(-2.5rem);
    border: 0.3rem solid white;
  }
  .intro .intro_lower .tag_line_cntnr .link_resume:hover,
  .intro .intro_lower .tag_line_cntnr .link_aboutMe:hover {
    border: 0.3rem solid #a90d0d;
  }

  .intro .intro_lower .tag_line_cntnr span a,
  .intro .intro_lower .tag_line_cntnr span i {
    font-size: 2.8rem;
  }

  .intro .intro_lower .home_links span {
    width: 5.5rem;
    height: 5.5rem;
    border: 0.3rem solid white;
  }

  .intro .intro_lower .home_links span i {
    font-size: 3.7rem;
  }

  /* .hero_absolute_setion .lower_part {
    justify-content: center;
  } */
}
