/* ************************** */
/* ImageTag Page CSS */
/* ************************** */

.imageTag_cntnr {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 12rem;
  height: 12rem;
  right: 0rem;
  transform: translate(-1rem, 1rem);
  z-index: 5;
  /* border: 0.1rem solid white; */
}

.imageTag_cntnr .aboutUsImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 0.2rem solid #a90d0d;
  overflow: hidden;
}
.imageTag_cntnr .aboutUsImg:hover {
  background-color: white;
}

.imageTag_cntnr .aboutUsImg img {
  position: absolute;
  width: 80%;
  height: 95%;
}
.imageTag_cntnr .aboutUsImg img:nth-child(1) {
  height: 88%;
  transform: translate(-0.5rem, 0);
}

.imageTag_cntnr .aboutUsImg img:nth-child(2) {
  transform: translate(0.5rem, 0.5rem);
}

.imageTag_cntnr button {
  display: flex;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  font-family: Ubuntu, sans-serif;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0.5rem;
  gap: 0.2rem;
  border-radius: 2rem;
  border: 0.1rem solid white;
  background-color: #a90d0d;
  z-index: 4;
}

.imageTag_cntnr button:hover {
  color: #a90d0d;
  border: 0.1rem solid #a90d0d;
  background-color: white;
}

@media screen and (max-width: 900px) {
  .imageTag_cntnr {
    width: 13rem;
    height: 14rem;
    transform: translate(0rem, 5rem);
  }

  .imageTag_cntnr .aboutUsImg {
    width: 10rem;
    height: 10rem;
  }
  .imageTag_cntnr button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 750px) {
  .imageTag_cntnr {
    width: 26rem;
    height: 29rem;
    right: auto;
    left: 50%;
    transform: translate(-50%, 8rem);
  }

  .imageTag_cntnr .aboutUsImg {
    width: 25rem;
    height: 25rem;
    border: 0.5rem solid #a90d0d;
  }
  .imageTag_cntnr button {
    font-size: 2.3rem;
    letter-spacing: 0.3rem;
    border: 0.3rem solid white;
  }
}
