/* ************************** */
/* MENU BAR COMPONENT CSS */
/* ************************** */

.container_menu_bar {
  position: fixed;
  display: flex;
  width: 8.2rem;
  height: auto;
  /* height: 3.2rem; */
  left: 100%;
  transform: translateX(-100%);
  margin-left: -1rem;
  bottom: 0.5rem;
  border-radius: 10rem;
  border: 0.1rem solid white;
  background-color: rgba(169, 13, 13, 0.5);
  transition: 1s;
  overflow: hidden;
  z-index: 10;
}
.container_menu_bar:hover {
  width: 29rem;
}

.container_menu_bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 0.2rem 0.2rem;
  list-style: none;
}
.container_menu_bar:hover ul {
  padding-right: 0.5rem;
}

.container_menu_bar ul li {
  display: flex;
}
.container_menu_bar ul li:nth-child(2) {
  order: 3;
}
.container_menu_bar ul li:nth-child(3) {
  order: 4;
}
.container_menu_bar ul li:nth-child(4) {
  order: 5;
}
.container_menu_bar ul li:nth-child(5) {
  order: 6;
}
.container_menu_bar ul li:nth-child(6) {
  order: 7;
}

.container_menu_bar ul li.menu_indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  color: white;
}
.container_menu_bar:hover ul li.menu_indicator {
  display: none;
}
.container_menu_bar ul li.menu_indicator span {
  font-size: 1.2rem;
  font-family: Ubuntu, sans-serif;
  margin-left: 0.5rem;
}

.container_menu_bar ul li span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container_menu_bar ul li span i {
  color: white;
  font-size: 1.4rem;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  border: 0.1rem solid white;
  border-radius: 50%;
  padding: 0.1rem;
}
.container_menu_bar ul li span a {
  color: white;
  font-size: 0.8rem;
  font-weight: bolder;
  font-family: Ubuntu, sans-serif;
  padding: 0 0.5rem;
  letter-spacing: 0.1rem;
  border-radius: 2rem;
  border: 0.1rem solid white;
}
/* .container_menu_bar ul li:hover i {
  background-color: #a90d0d;
}
.container_menu_bar ul li:hover a {
  background-color: #a90d0d;
} */

.container_menu_bar ul li:hover i {
  color: #a90d0d;
  background-color: white;
  border: 0.1rem solid #a90d0d;
}
.container_menu_bar ul li:hover a {
  color: #a90d0d;
  background-color: white;
  border: 0.1rem solid #a90d0d;
}

.container_menu_bar ul li.active {
  order: 2;
  display: flex;
}
.container_menu_bar ul li span.active i {
  font-size: 1.5rem;
  color: #a90d0d;
  width: 2.1rem;
  height: 2.1rem;
  /* width: auto;
  height: auto; */
  padding: 0.2rem;
  border: 0.1rem solid #a90d0d;
  background-color: white;
}
.container_menu_bar ul li span.active a {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container_menu_bar {
    width: 9rem;
  }
  .container_menu_bar:hover {
    width: 33rem;
  }
  .container_menu_bar ul {
    gap: 0.8rem;
    padding-left: 0.3rem;
  }
  .container_menu_bar:hover ul {
    padding-right: 1rem;
  }

  .container_menu_bar ul li.menu_indicator span {
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }

  .container_menu_bar ul li span i {
    font-size: 1.6rem;
    width: 2rem;
    height: 2rem;
  }
  .container_menu_bar ul li span a {
    font-size: 0.9rem;
  }

  .container_menu_bar ul li span.active i {
    font-size: 1.8rem;
    width: 2.3rem;
    height: 2.3rem;
  }
}

@media screen and (max-width: 1000px) {
  .container_menu_bar {
    width: 9.2rem;
  }
  .container_menu_bar:hover {
    width: 35rem;
  }
  .container_menu_bar ul {
    gap: 0.3rem;
    padding-left: 0.2rem;
  }
  .container_menu_bar:hover ul {
    padding-right: 1rem;
  }

  .container_menu_bar ul li.menu_indicator span {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .container_menu_bar ul li span i {
    font-size: 1.6rem;
    width: 2.2rem;
    height: 2.2rem;
  }
  .container_menu_bar ul li span a {
    font-size: 1rem;
  }

  .container_menu_bar ul li span.active i {
    font-size: 1.9rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .container_menu_bar ul li span a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .container_menu_bar {
    width: 19.7rem;
    margin-left: 0rem;
    padding: 0.2rem 0;
    border: 0.3rem solid white;
    background-color: rgba(169, 13, 13, 0.5);
  }
  .container_menu_bar:hover {
    width: 59rem;
  }
  .container_menu_bar ul {
    padding-left: 0.3rem;
  }
  .container_menu_bar:hover ul {
    justify-content: space-evenly;
    padding-right: 0.4rem;
  }
  .container_menu_bar ul li {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding: 0 0.2rem;
    background-color: #a90d0d;
    border: 0.3rem solid white;
  }

  .container_menu_bar ul li.menu_indicator {
    background-color: transparent;
    border: 0rem;
  }

  .container_menu_bar ul li.menu_indicator span {
    font-size: 3.6rem;
    margin-left: 0.5rem;
  }
  .container_menu_bar ul > li i {
    font-size: 2rem;
  }

  .container_menu_bar ul li span i {
    font-size: 3.2rem;
    width: fit-content;
    height: fit-content;
    transform: translateX(0rem);
    border: 0rem solid white;
  }
  .container_menu_bar ul li span a {
    font-size: 2.1rem;
    left: -12rem;
    border: 0rem solid white;
  }

  .container_menu_bar ul li:hover {
    background-color: white;
    border: 0.3rem solid #a90d0d;
  }

  .container_menu_bar ul li:hover span i {
    color: #a90d0d;
    background-color: white;
    border: 0rem;
  }
  .container_menu_bar ul li:hover span a {
    color: #a90d0d;
    background-color: white;
    border: 0rem;
  }

  .container_menu_bar ul li.active {
    border: 0rem;
  }

  .container_menu_bar ul li span.active i {
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    transform: translateX(0rem);
    border: 0.3rem solid #a90d0d;
  }
}
