/* ************************** */
/* Home Page CSS */
/* ************************** */

.container_menu_bar {
  display: none;
}

@media screen and (max-width: 750px) {
  .container_menu_bar {
    position: fixed;
    display: flex;
    width: 50rem;
    height: 6rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    border-radius: 10rem;
    border: 0.1rem solid white;
    background-color: white;
  }

  .container_menu_bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.2rem 1rem;
  }

  .container_menu_bar ul .indicator {
    position: absolute;
    display: flex;
    width: 5.5em;
    height: 5.5rem;
    top: 50%;
    transform: translate(2rem, -50%);
    border-radius: 50%;
    background-color: #09adff;
  }

  .container_menu_bar ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    list-style: none;
    /* border: 1px solid white; */
  }

  .container_menu_bar ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    width: 100%;
    /* border: 1px solid wheat; */
  }

  .container_menu_bar ul li span.icon {
    font-size: 4rem;
    height: 70%;
  }

  .container_menu_bar ul li span.icon_name {
    font-size: 2rem;
    height: 30%;
  }

  .container_menu_bar ul li span.icon.active {
    height: 70%;
    font-size: 4.5rem;
    /* transform: translateY(-50%); */
  }

  .container_menu_bar ul li span.icon_name.active {
    display: none;
    height: 30%;
  }
}
