/* ************************** */
/* Project Page CSS */
/* ************************** */

.project_page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid white;
}

.project_page .section_left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #a90d0d;
  /* border: 1px solid white; */
}

.project_page .section_menu {
  position: relative;
  display: none;
  width: 100%;
  background-color: black;
}

.section_left .upper_part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  /* border: 1px solid white; */
}

.upper_part h1 {
  color: white;
  font-size: 2.8rem;
  /* font-family: "Rubik Puddles", cursive; */
  font-family: "Gluten", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  text-shadow: 0rem 0rem 10px black;
}

.upper_part strong {
  color: lawngreen;
  font-size: 1.8rem;
  font-family: "Andika", sans-serif;
  letter-spacing: 0.2rem;
  text-shadow: 0rem 0rem 10px black;
}

.section_left .lower_part {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  /* border: 1px solid white; */
}

.section_left .lower_part .project_links_cntnr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 75%;
  /* border: 1px solid yellow; */
}

.project_links_cntnr .project_links_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 65%;
  animation: animate_card 5s infinite;
  /* border: 1px solid white; */
}

@keyframes animate_card {
  0%,
  100% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(1rem);
  }
}

.project_links_card .card_img_cntnr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
}

.project_links_card .card_title_img {
  position: relative;
  display: flex;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /* box-shadow: inset 0 0 1px 1px black; */
  background-color: transparent;
  /* border: 1px solid black; */
}

.project_links_card .card_title_img img {
  position: relative;
  width: 100%;
  height: 100%;
}

.project_links_card .card_link_cntnr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
}
.project_links_card .card_link_cntnr span {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0 1rem;
  border-radius: 5rem;
  background-color: white;
  border: 0.1rem solid black;
}

.project_links_card a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Andika", sans-serif;
  border-radius: 2rem;
  /* box-shadow: inset 0 0 5px 1px black; */
}
.project_links_card a i {
  color: black;
  font-size: 1.3rem;
  font-style: normal;
  transition: 0.2s;
}
.project_links_card .card_link_cntnr span:hover a i {
  font-weight: bold;
}

.section_left .lower_part .project_slider_btn_cntnr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 25%;
  /* border: 1px solid white; */
}
.section_left .lower_part .project_slider_btn_cntnr .project_indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  /* border: 1px solid yellow; */
}
.section_left .lower_part .project_slider_btn_cntnr .project_indicator ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
}

.project_slider_btn_cntnr .project_indicator ul li i {
  cursor: pointer;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
}

.project_slider_btn_cntnr .project_indicator ul li.active i {
  color: white;
}

.section_left .lower_part .project_slider_btn_cntnr .slider_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: fit-content;
  /* border: 1px solid white; */
}
.section_left .lower_part .project_slider_btn_cntnr .slider_btn i {
  cursor: pointer;
  color: white;
  font-size: 2.3rem;
}

.section_left .lower_part .project_slider_btn_cntnr .slider_btn i:hover {
  color: gold;
}

.project_page .section_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: black;
  /* border: 1px solid yellow; */
}

.project_page .section_right .upper_part {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.project_page .section_right .lower_part {
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  width: 95%;
  height: 85%;
  bottom: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* border: 1px solid white; */
  /* overflow: hidden; */
}
.project_page .section_right .lower_part::-webkit-scrollbar {
  height: 0.5rem;
}

.project_page .section_right .lower_part::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: transparent;
}

.project_page .section_right .lower_part::-webkit-scrollbar-track {
  background-color: transparent;
}

.project_details {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  height: 90%;
  scroll-snap-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
}

/* .project_details > span {
  border: 0.1rem solid white;
} */

.project_details .heading {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: fit-content; */
  height: 43%;
  padding: 0.5rem;
  padding-bottom: 0rem;
  /* background-color: lightcoral; */
}
.project_details .heading h2 {
  display: flex;
  flex-direction: row;
}
.project_details .heading h2 img {
  position: relative;
  display: flex;
  width: 3.8rem;
  height: 3.8rem;
  padding: 0.1rem;
  border: 0.1rem solid #a90d0d;
  border-radius: 50%;
  background-color: white;
}
.project_details .heading h2 header {
  color: white;
  display: flex;
  font-size: 1.8rem;
  font-family: Ubuntu, sans-serif;
  flex-direction: column;
}
.project_details .heading h2 header strong {
  color: lime;
  font-size: 0.8rem;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
}
.project_details .heading .brief_description {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.project_details .brief_description::-webkit-scrollbar {
  height: 0.1rem;
  width: 0.1rem;
}
.project_details .brief_description::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: white;
}
.project_details .brief_description::-webkit-scrollbar-track {
  background-color: transparent;
}

.project_details .heading .brief_description p {
  display: flex;
  flex-direction: row;
  color: lightsalmon;
  font-size: 1rem;
  line-height: 1.3rem;
  padding-left: 0.2rem;
  width: fit-content;
  height: fit-content;
  /* border-left: 0.2rem solid yellow; */
  border-left: 0.1rem solid #09aeff;
}
.project_details .heading .brief_description img {
  display: flex;
  width: 11rem;
  height: 6rem;
  padding: 0.2rem;
  margin: 0.2rem;
}

.project_details .points {
  position: relative;
  display: flex;
  width: 100%;
  height: 42%;
  color: lightskyblue;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.2rem 0;
  padding-left: 2.5rem;
  overflow-y: scroll;
  /* border: 0.1rem solid white; */
}
.project_details .points::-webkit-scrollbar {
  width: 0.1rem;
}
.project_details .points::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: white;
}
.project_details .points::-webkit-scrollbar-track {
  background-color: transparent;
}

.project_details .tech_used {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 15%;
  gap: 0.3rem;
  padding-left: 0.7rem;
  margin-top: auto;
  border-bottom: 0.1rem solid #09aeff;
  /* background-color: lightseagreen; */
}
.project_details .tech_used h3 {
  color: white;
  width: 100%;
  font-size: 1.2rem;
  font-family: "Andika", sans-serif;
  letter-spacing: 0.1rem;
  transform: translateY(-0.2rem);
  /* border: 1px solid red; */
}

.project_details .tech_used .tech_used_item p {
  color: white;
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  display: block;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 0rem 0.6rem;
  cursor: pointer;
  background-color: #a90d0d;
  border: 0.09rem solid white;
  border-radius: 1rem;
  transform: translate(0.5rem, -0.4rem);
}

@media screen and (max-width: 1150px) {
  .project_links_cntnr .project_links_card {
    height: 60%;
  }

  .project_details .heading .brief_description p {
    font-size: 1.1rem;
  }
  .project_details .points p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .project_details .heading h2 img {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #a90d0d;
  }
  .project_details .heading h2 header {
    font-size: 1.8rem;
  }
  .project_details .heading h2 header strong {
    color: lime;
    font-size: 1rem;
  }
  .project_details .heading .brief_description p {
    font-size: 1.05rem;
    line-height: 1.5rem;
  }
  .project_details .heading .brief_description img {
    width: 12rem;
    height: 7rem;
    transform: translateY(0rem);
  }

  .project_details .tech_used {
    gap: 0.1rem;
  }

  .project_details .tech_used h3 {
    font-size: 1.2rem;
  }
  .project_details .tech_used .tech_used_item p {
    font-size: 0.75rem;
  }

  .project_details .points p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 1000px) {
  .project_links_cntnr .project_links_card {
    height: 48%;
  }

  .project_details .heading h2 header {
    font-size: 2rem;
  }
  .project_details .heading h2 header strong {
    color: lime;
    font-size: 1rem;
  }
  .project_details .heading .brief_description p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .project_details .heading .brief_description img {
    width: 12rem;
    height: 7rem;
  }

  .project_details .tech_used .tech_used_item p {
    font-size: 1rem;
  }

  .project_details .points p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

@media screen and (max-width: 750px) {
  .project_page {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
  }

  .project_page .section_left {
    width: 100%;
    height: 12%;
    order: 2;
  }

  .project_page .section_right {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    order: 1;
  }
  .project_page .section_right .upper_part {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    /* border: 1px solid fuchsia; */
  }

  .project_page .section_right .lower_part {
    align-items: center;
    width: 100%;
    height: 85%;
    /* bottom: 0rem; */
    /* border: 1px solid fuchsia; */
  }

  .section_right .upper_part h1 {
    font-size: 7rem;
    transform: translateY(3rem);
  }

  .upper_part strong {
    font-size: 4rem;
    transform: translateY(1rem);
  }

  .project_details {
    width: 95%;
    height: 95%;
    padding: 0.5rem;
    border: 0.2rem solid white;
  }
  .project_details .heading {
    border-bottom: 0.3rem solid yellow;
  }

  .project_details .heading h2 img {
    width: 7rem;
    height: 7rem;
    border: 0.3rem solid #a90d0d;
  }
  .project_details .heading h2 header {
    font-size: 3.5rem;
  }
  .project_details .heading h2 header strong {
    font-size: 2.5rem;
  }
  .project_details .heading .brief_description {
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5rem;
    padding-bottom: 2rem;
  }

  .project_details .heading .brief_description p {
    display: flex;
    font-size: 3rem;
    line-height: 4rem;
    padding-left: 0.5rem;
    order: 2;
    border-left: 0.5rem solid #09aeff;
  }
  .project_details .heading .brief_description img {
    position: relative;
    display: flex;
    width: 50%;
    height: 80%;
    padding: 0.4rem;
    order: 1;
  }

  .project_details .tech_used {
    gap: 0rem 1rem;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0rem;
    padding: 1rem;
    overflow-x: scroll;
    border-bottom: 0 solid #09aeff;
  }
  .project_details .tech_used h3 {
    width: fit-content;
    font-size: 3rem;
  }

  .project_details .tech_used .tech_used_item p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0rem 1rem;
    border-radius: 5rem;
    border: 0.2rem solid white;
    transform: translateY(0.5rem);
  }

  .project_details .points {
    padding-left: 4rem;
    overflow-y: scroll;
    padding: 3rem auto;
    border-bottom: 0.3rem solid yellow;
  }
  .project_details .points ol li {
    font-size: 3rem;
    border-bottom: 0.1rem dashed lightblue;
  }

  .project_details .points p {
    color: lightpink;
    font-size: 3rem;
    line-height: 5rem;
  }

  .project_page .section_menu {
    display: flex;
    height: 8%;
    order: 3;
    /* border: 1px solid white; */
  }

  .section_left .upper_part {
    display: none;
  }

  .project_page .section_left .lower_part {
    flex-direction: row;
    height: 100%;
  }
  .section_left .lower_part .project_links_cntnr .card_link_cntnr {
    align-items: center;
  }

  .section_left .lower_part .project_links_cntnr {
    width: 60%;
    height: 100%;
    /* border: 1px solid white; */
  }

  .project_links_cntnr .project_links_card {
    width: 90%;
    height: 100%;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    animation: animate_card 3s infinite ease-in-out;
    /* border: 1px solid white; */
  }

  @keyframes animate_card {
    0%,
    100% {
      transform: rotateZ(0deg) translateX(0rem);
    }
    50% {
      transform: rotateZ(0deg) translateX(2rem);
    }
  }

  .project_links_card .card_img_cntnr {
    width: 35%;
    height: 100%;
    justify-content: flex-end;
    margin-left: 1rem;
  }

  .project_links_card .card_link_cntnr {
    width: 65%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .project_links_card .card_link_cntnr span {
    border: 0.4rem solid black;
  }

  .project_links_card .card_title_img {
    width: 11rem;
    height: 11rem;
  }

  .project_links_card a i {
    font-size: 2.5rem;
  }

  .section_left .lower_part .project_slider_btn_cntnr {
    justify-content: center;
    gap: 1rem;
    width: 40%;
    height: 100%;
  }
  .section_left .lower_part .project_slider_btn_cntnr .project_indicator ul {
    gap: 1rem;
  }

  .project_slider_btn_cntnr .project_indicator ul li i {
    font-size: 4rem;
  }

  .section_left .lower_part .project_slider_btn_cntnr .slider_btn {
    gap: 2rem;
  }
  .section_left .lower_part .project_slider_btn_cntnr .slider_btn i {
    font-size: 6rem;
  }
}

@media screen and (max-width: 660px) {
  .upper_part h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .upper_part h1 {
    font-size: 4.5rem;
  }
}
