/* ************************** */
/* Project Page CSS */
/* ************************** */

.project_page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  /* border-top: 1px solid white; */
}

.project_page .section_left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #a90d0d;
  /* border: 1px solid white; */
}

.project_page .section_menu {
  position: relative;
  display: none;
  width: 100%;
  background-color: black;
}

.section_left .upper_part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  /* border: 1px solid white; */
}

.upper_part h1 {
  color: white;
  font-size: 2.8rem;
  /* font-family: "Rubik Puddles", cursive; */
  font-family: "Gluten", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  text-shadow: 0rem 0rem 10px black;
}

.upper_part strong {
  color: lawngreen;
  font-size: 1.8rem;
  font-family: "Andika", sans-serif;
  letter-spacing: 0.2rem;
  text-shadow: 0rem 0rem 10px black;
}

.section_left .lower_part {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  /* border: 1px solid white; */
}

.section_left .lower_part .project_links_cntnr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 75%;
  /* border: 1px solid yellow; */
}

.project_links_cntnr .project_links_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 65%;
  animation: animate_card 5s infinite;
  /* border: 1px solid white; */
}

@keyframes animate_card {
  0%,
  100% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(1rem);
  }
}

.project_links_card .card_img_cntnr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
}

.project_links_card .card_title_img {
  position: relative;
  display: flex;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px black;
  background-color: white;
  border: 1px solid black;
}

.project_links_card .card_title_img img {
  position: relative;
  width: 100%;
  height: 100%;
}

.project_links_card .card_link_cntnr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
}

.project_links_card .card_github_link {
  position: relative;
  display: flex;
  width: 10rem;
  height: 2.2rem;
  border: 1px solid black;
  border-radius: 5rem;
  background-color: white;
}

.project_links_card .card_deploy_link {
  position: relative;
  display: flex;
  width: 10rem;
  height: 2.2rem;
  border: 1px solid black;
  border-radius: 5rem;
  background-color: white;
}

.project_links_card a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Andika", sans-serif;
  border-radius: 2rem;
  /* box-shadow: inset 0 0 5px 1px black; */
}
.project_links_card a:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 0px 0px black;
}

.project_links_card a i {
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
  font-style: normal;
}

.section_left .lower_part .project_slider_btn_cntnr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 25%;
  /* border: 1px solid white; */
}

.section_left .lower_part .project_slider_btn_cntnr i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50rem;
  border: 0.2rem solid white;
}

.section_left .lower_part .project_slider_btn_cntnr i:hover {
  color: gold;
  font-size: 2.5rem;
  border: 0.2rem solid black;
}

.project_page .section_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: black;
  /* border: 1px solid yellow; */
}

.project_page .section_right .upper_part {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.project_page .section_right .lower_part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85%;
  bottom: 1rem;
  /* border: 1px solid white; */
}

.project_details {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: 90%;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(50px);
  /* background-image: url(../../public/assets/bg.jpg);
  background-size: cover;
  background-position: center; */
}

/* .project_details > span {
  border: 0.1rem solid white;
} */

.project_details .heading {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-height: 15rem;
  padding: 0.5rem;
  padding-bottom: 0rem;
  /* background-color: lightcoral; */
}
.project_details .heading h2 {
  display: flex;
  flex-direction: row;
}
.project_details .heading h2 img {
  position: relative;
  display: flex;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #a90d0d;
  border-radius: 50%;
  background-color: white;
}
.project_details .heading h2 header {
  color: white;
  display: flex;
  font-size: 2rem;
  font-family: Ubuntu, sans-serif;
  flex-direction: column;
}
.project_details .heading h2 header strong {
  color: lime;
  font-size: 0.9rem;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
}
.project_details .heading .brief_description {
  display: flex;
  flex-direction: row;
}
.project_details .heading .brief_description p {
  display: flex;
  flex-direction: row;
  color: lightsalmon;
  font-size: 1rem;
  padding-left: 0.2rem;
  width: fit-content;
  /* border-left: 0.2rem solid yellow; */
  border-left: 0.1rem solid #09aeff;
}
.project_details .heading .brief_description img {
  display: flex;
  width: 12rem;
  height: 7rem;
  padding: 0.2rem;
  transform: translateY(-2rem);
  border: 0.1rem solid #a90d0d;
}

.project_details .tech_used {
  position: relative;
  display: flex;
  width: 100%;
  height: 3.2rem;
  gap: 0.2rem;
  padding: 0.2rem 0.8rem;
  margin-top: auto;
  border-bottom: 0.1rem solid #09aeff;
  /* background-color: lightseagreen; */
}
.project_details .tech_used h3 {
  color: white;
  font-size: 1.2rem;
  font-family: "Andika", sans-serif;
  letter-spacing: 0.1rem;
  transform: translateY(-0.7rem);
}

.project_details .tech_used .tech_used_item p {
  color: white;
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  display: block;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 0rem 0.6rem;
  cursor: pointer;
  background-color: #a90d0d;
  border: 0.1rem solid white;
  border-radius: 1rem;
  transform: translate(-9rem, 1.2rem);
}

.project_details .points {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  max-height: 10.5rem;
  padding-left: 2.5rem;
  /* border: 0.1rem solid white; */
}
.project_details .points p {
  color: lightskyblue;
  font-size: 1rem;
}

@media screen and (max-width: 1150px) {
  .project_links_cntnr .project_links_card {
    height: 60%;
  }

  .project_details .heading .brief_description p {
    font-size: 1.1rem;
  }
  .project_details .points p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1000px) {
  .project_links_cntnr .project_links_card {
    height: 48%;
  }

  .project_details .heading h2 img {
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid #a90d0d;
  }
  .project_details .heading h2 header {
    font-size: 2.3rem;
  }
  .project_details .heading h2 header strong {
    color: lime;
    font-size: 1.1rem;
  }
  .project_details .heading .brief_description p {
    font-size: 1.2rem;
  }
  .project_details .heading .brief_description img {
    width: 12rem;
    height: 7rem;
  }

  .project_details .tech_used {
    height: 4rem;
    gap: 0.1rem;
    /* border: 1px solid red; */
  }

  .project_details .tech_used h3 {
    font-size: 1.4rem;
  }
  .project_details .tech_used .tech_used_item p {
    font-size: 0.8rem;
    height: 1.5rem;
    transform: translate(-10.5rem, 2rem);
  }

  .project_details .points p {
    font-size: 1.21rem;
  }
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 750px) {
  .project_page {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
  }

  .project_page .section_left {
    width: 100%;
    height: 12%;
    order: 2;
  }

  .project_page .section_right {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    order: 1;
  }
  .project_page .section_right .upper_part {
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    /* border: 1px solid fuchsia; */
  }

  .project_page .section_right .lower_part {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    bottom: 0rem;
    /* border: 1px solid fuchsia; */
  }

  .section_right .upper_part h1 {
    font-size: 6.5rem;
    transform: translateY(3rem);
  }

  .upper_part strong {
    font-size: 3.5rem;
    transform: translateY(1rem);
  }

  .project_details {
    width: 95%;
    height: 95%;
    justify-content: flex-start;
    padding: 0.5rem;
    border: 0.2rem solid white;
  }

  .project_details .heading {
    max-height: 27rem;
    padding: 0.5rem;
    padding-bottom: 0rem;
    /* overflow-y: scroll; */
    /* border-bottom: 0.1rem solid red; */
  }
  /* .project_details .heading h2 {
    position: fixed;
  } */

  .project_details .heading h2 img {
    width: 9rem;
    height: 9rem;
    border: 0.3rem solid #a90d0d;
  }
  .project_details .heading h2 header {
    font-size: 4rem;
  }
  .project_details .heading h2 header strong {
    font-size: 2.3rem;
  }
  /* .project_details .heading .brief_description {
    overflow-y: scroll;
  } */

  .project_details .heading .brief_description p {
    display: none;
    font-size: 2.9rem;
    padding-left: 0.2rem;
    border-left: 0.3rem solid #09aeff;
  }
  .project_details .heading .brief_description img {
    width: 28rem;
    height: 15rem;
    padding: 0.4rem;
    border: 0.3rem solid yellow;
    /* transform: translateY(0rem); */
    transform: translate(12rem, -1rem);
  }

  .project_details .tech_used {
    width: 100%;
    height: 9rem;
    gap: 1.5rem;
    overflow-x: scroll;
    border-bottom: 0 solid #09aeff;
    /* border: 0.1rem solid #09aeff; */
    /* background-color: lightseagreen; */
  }
  .project_details .tech_used h3 {
    position: fixed;
    font-size: 3rem;
  }

  .project_details .tech_used .tech_used_item p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: fit-content;
    height: fit-content;
    padding: 0rem 0.8rem;
    border-radius: 5rem;
    border: 0.2rem solid white;
    transform: translate(0rem, 4.5rem);
  }

  .project_details .points {
    max-height: 35rem;
    padding-left: 4rem;
    overflow-y: scroll;
    border-bottom: 0.1rem solid yellow;
    /* border: 0.1rem solid white; */
  }
  .project_details .points p {
    color: lightskyblue;
    font-size: 2.8rem;
  }

  .project_page .section_menu {
    display: flex;
    height: 8%;
    order: 3;
    /* border: 1px solid white; */
  }

  .section_left .upper_part {
    display: none;
  }

  .project_page .section_left .lower_part {
    flex-direction: row;
    height: 100%;
  }

  .section_left .lower_part .project_links_cntnr {
    width: 60%;
    height: 100%;
  }
  .project_links_cntnr .project_links_card {
    width: 100%;
    height: 100%;
    flex-direction: row;
    animation: animate_card 3s infinite ease-in-out;
  }

  @keyframes animate_card {
    0%,
    100% {
      transform: rotateZ(0deg) translateX(0rem);
    }
    50% {
      transform: rotateZ(0deg) translateX(2rem);
    }
  }

  .project_links_card .card_img_cntnr {
    width: 35%;
    height: 100%;
    justify-content: flex-end;
    margin-left: 1rem;
  }

  .project_links_card .card_link_cntnr {
    width: 65%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .project_links_card .card_title_img {
    width: 11rem;
    height: 11rem;
  }

  .project_links_card .card_github_link,
  .project_links_card .card_deploy_link {
    width: 17rem;
    height: 4.2rem;
  }

  .project_links_card a i {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .section_left .lower_part .project_slider_btn_cntnr {
    width: 40%;
    height: 100%;
    gap: 3rem;
  }

  .section_left .lower_part .project_slider_btn_cntnr i {
    font-size: 3.5rem;
    width: 4.2rem;
    height: 4.2rem;
    border: 0.4rem solid white;
  }

  .section_left .lower_part .project_slider_btn_cntnr i:hover {
    font-size: 4rem;
    border: 0.4rem solid black;
  }
}

@media screen and (max-width: 660px) {
  .upper_part h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .upper_part h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 360px) {
}
