.skill_page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
  /* border-top: 1px solid white; */
}

.skill_page .section_left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #a90d0d;
  /* border: 1px solid white; */
}

.skill_page .section_menu {
  position: relative;
  display: none;
  width: 100%;
  background-color: black;
  /* border: 1px solid white; */
}

.skill_page .upper_part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  /* border: 1px solid white; */
}

.skill_page .upper_part h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 0.3rem;
  font-family: Gluten, sans-serif;
  text-shadow: 1px 1px 10px black;
}

.skill_page .section_left .lower_part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  /* border: 1px solid white; */
}

.section_left .lower_part .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 27rem;
  /* animation: skill_card_anim 5s infinite; */
  /* border: 1px solid white; */
}
@keyframes skill_card_anim {
  0%,
  100% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(1rem);
  }
}

.section_left .lower_part .card .head {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 15%;
  /* border: 1px solid white; */
}

.section_left .lower_part .card .head .img {
  position: relative;
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: white;
  transform: translateX(1rem);
  z-index: 1;
  /* border: 2px solid black; */
}

.section_left .lower_part .card .head .title {
  position: relative;
  display: flex;
  align-items: center;
  width: 0rem;
  height: 0rem;
  border-radius: 5rem;
  background-color: white;
  transform: translateX(-1rem);
  z-index: 0;
  padding-left: 2rem;
  animation: card_entry_title_anim 2s 1s;
  animation-fill-mode: forwards;
  /* border: 2px solid black; */
}

@keyframes card_entry_title_anim {
  0% {
    display: none;
    width: 0rem;
    height: 3.2rem;
  }
  100% {
    display: flex;
    width: 15rem;
    height: 3.2rem;
  }
}

.section_left .lower_part .card .head .title p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  word-break: keep-all;
  opacity: 0;
  animation: card_entry_title_p_anim 1s 3s;
  animation-fill-mode: forwards;
}

@keyframes card_entry_title_p_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section_left .lower_part .card .body {
  position: relative;
  display: flex;
  width: 100%;
  height: 0%;
  overflow: hidden;
  animation: card_entry_body_anim 2s 4s;
  animation-fill-mode: forwards;
  /* border: 1px solid white; */
}

@keyframes card_entry_body_anim {
  0% {
    height: 0;
  }
  100% {
    height: 85%;
  }
}

.lower_part .card .body .item_cntnr {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16rem;
  /* height: 90%; */
  height: fit-content;
  padding-top: 0.5rem;
  margin-left: 3.5rem;
  overflow-y: scroll;
  border-left: 0.5rem solid white;
  border-bottom-left-radius: 0.5rem;
  /* border: 1px solid black; */
}
.item_cntnr::-webkit-scrollbar {
  width: 0.1rem;
  background-color: black;
}

.item_cntnr::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: white;
}

.item_cntnr::-webkit-scrollbar-track {
  background-color: transparent;
}

.lower_part .card .body .item_cntnr .items {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.3rem;
  /* margin: 0.2rem 0; */
  /* border: 2px solid black; */
}
.lower_part .card .body .item_cntnr .rods {
  position: relative;
  display: flex;
  width: 1rem;
  height: 0.5rem;
  background-color: white;
  margin: 0.5rem 0;
}

.lower_part .card .body .item_cntnr .content {
  position: relative;
  display: flex;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.1rem;
  border-radius: 2rem;
  background-color: white;
  overflow: hidden;
  transform: translateX(-0.5rem);
  animation: card_entry_body_content_anim 0.5s 6s;
  animation-fill-mode: forwards;
}
@keyframes card_entry_body_content_anim {
  0% {
    width: 2.6rem;
  }
  100% {
    width: 13rem;
  }
}

.lower_part .card .body .item_cntnr .content .img {
  position: relative;
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.09rem solid black;
  border-radius: 50%;
}

.lower_part .card .body .item_cntnr .content .points p {
  font-size: 1rem;
  line-height: 1.3rem;
  word-break: keep-all;
  margin: 0 0.5rem;
}

.skill_page .section_right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: black;
}

.skill_page .section_right .upper_part {
  display: none;
}

.skill_page .section_right .filter_cntnr {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 1rem 0.5rem;
  gap: 1rem;
  /* bottom: 2.5rem; */
  border-radius: 1rem;
  background-color: rgba(169, 13, 13, 0.3);
  border: 0.1rem solid white;
}
.skill_page .section_right .filter_cntnr .filter_item p {
  color: white;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  display: block;
  text-align: center;
  width: fit-content;
  height: auto;
  padding: 0rem 0.6rem;
  cursor: pointer;
  background-color: #a90d0d;
  border: 0.1rem solid white;
  border-radius: 1rem;
}
.skill_page .section_right .filter_cntnr .filter_item.active p {
  color: #a90d0d;
  background-color: white;
  border: 0.1rem solid #a90d0d;
}
.skill_page .section_right .filter_cntnr .filter_item:hover p {
  color: #a90d0d;
  background-color: white;
  border: 0.1rem solid #a90d0d;
}

.skill_page .section_right .lower_part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  margin-top: 2rem;
  bottom: 2.5rem;
  /* right: 2rem; */
  /* border: 1px solid white; */
}
.skill_page .section_right .lower_part .skill_items_cntnr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 3rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-image: url(../../public/assets/scienceBg.jpg);
  background-position: center;
  background-size: contain; */
  /* border: 1px solid red; */
}

.skill_items_cntnr::-webkit-scrollbar {
  width: 0.1rem;
}

.skill_items_cntnr::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: white;
}

.skill_items_cntnr::-webkit-scrollbar-track {
  background-color: transparent;
}

.skill_page .section_right .lower_part .skill_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 6.5rem;
  height: 8.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border: 0.1rem solid white;
  transition: 0.2s;
}
.skill_page .section_right .lower_part .skill_item:hover {
  width: 7rem;
  height: 9rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.2rem solid #09aeff;
  box-shadow: 0 0 0.5rem 1px #09aeff;
}

.skill_page .section_right .lower_part .skill_item.active {
  width: 7rem;
  height: 9rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.2rem solid #09aeff;
  box-shadow: 0 0 0.5rem 1px #09aeff;
}

.skill_page .section_right .lower_part .skill_item img {
  position: relative;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.skill_page .section_right .lower_part .skill_item .title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 1.5rem;
  border-radius: 2rem;
  /* border: 1px solid black; */
  background-color: white;
  border: 0.1rem solid #a90d0d;
}

.skill_page .section_right .lower_part .skill_item .title p {
  font-size: 0.9rem;
  font-weight: bolder;
}

.skill_page .section_right .lower_part .skill_item .btn button {
  font-size: 1rem;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  border: 0rem solid black;
  background-color: white;
}

.skill_page .section_right .lower_part .skill_item .btn:hover button {
  font-size: 1.05rem;
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .skill_page .section_right .filter_cntnr .filter_item p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1000px) {
  .skill_page .section_right .filter_cntnr .filter_item p {
    font-size: 1.1rem;
  }

  .skill_page .section_right .lower_part .skill_item {
    gap: 0.8rem;
    width: 8rem;
    height: 11rem;
  }
  .skill_page .section_right .lower_part .skill_item:hover {
    width: 9rem;
    height: 12rem;
  }

  .skill_page .section_right .lower_part .skill_item.active {
    width: 9rem;
    height: 12rem;
  }

  .skill_page .section_right .lower_part .skill_item img {
    width: 5rem;
    height: 5rem;
  }

  .skill_page .section_right .lower_part .skill_item .title {
    width: 85%;
    height: 1.8rem;
  }

  .skill_page .section_right .lower_part .skill_item .title p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 750px) {
  .skill_page {
    flex-direction: column;
  }

  .skill_page .section_left {
    width: 100%;
    height: 15%; /*15 50*/
    order: 2;
    z-index: 2;
    /* border: 1px solid white; */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }

  .skill_page .section_right {
    width: 100%;
    height: 77%; /*77 42*/
    order: 1;
    /* border: 1px solid white; */
  }
  .skill_page .section_menu {
    display: flex;
    height: 8%;
    order: 3;
  }

  .skill_page .upper_part {
    display: none;
  }

  .skill_page .section_left .lower_part {
    height: 100%;
    /* border: 1px solid yellow; */
  }

  .section_left .lower_part .card {
    width: 95%;
    height: 90%;
    justify-content: center;
    transform: translateY(0rem);
    /* border: 1px solid white !; */
  }

  .section_left .lower_part .card .head {
    width: 100%;
    height: 100%;
    height: 28%;
    padding-left: 3rem;
    /* border: 1px solid yellow; */
  }

  .section_left .lower_part .card .head .img {
    width: 14rem;
    height: 14rem;
    transform: translateX(3rem);
    /* border: 2px solid black; */
  }

  .section_left .lower_part .card .head .title {
    padding-left: 7rem;
    padding-right: 1rem;
    transform: translateX(-3rem);
    animation: card_entry_title_anim 2s 1s;
    animation-fill-mode: forwards;
    /* border: 2px solid black; */
  }

  @keyframes card_entry_title_anim {
    0% {
      display: none;
      width: 0rem;
      height: 9rem;
    }
    100% {
      display: flex;
      width: 38rem;
      height: 9rem;
    }
  }

  .section_left .lower_part .card .head .title p {
    font-size: 2.9rem;
    line-height: 3.5rem;
    font-weight: bolder;
    animation: card_entry_title_p_anim 1s 3s;
    animation-fill-mode: forwards;
  }

  @keyframes card_entry_title_p_anim {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .section_left .lower_part .card .body {
    display: none;
    width: 100%;
    height: 0%;
    animation: card_entry_body_anim 2s 4s;
    animation-fill-mode: forwards;
    /* border: 1px solid white; */
  }

  @keyframes card_entry_body_anim {
    0% {
      height: 0;
    }
    100% {
      height: 70%;
    }
  }

  .lower_part .card .body .item_cntnr {
    width: 40rem;
    height: 100%;
    margin-left: 12.5rem;
    border-left: 1.2rem solid white;
  }

  .lower_part .card .body .item_cntnr .items {
    height: 6.8rem;
    margin: 0.4rem 0;
    /* border: 2px solid black; */
  }
  .lower_part .card .body .item_cntnr .rods {
    width: 3rem;
    height: 0.8rem;
    margin: 0.5rem 0;
  }

  .lower_part .card .body .item_cntnr .content {
    width: 6rem;
    height: 6rem;
    padding: 0.3rem;
    border-radius: 3rem;
    animation: card_entry_body_content_anim 0.5s 6s;
    animation-fill-mode: forwards;
  }
  @keyframes card_entry_body_content_anim {
    0% {
      width: 6rem;
    }
    100% {
      width: 33rem;
    }
  }

  .lower_part .card .body .item_cntnr .content .img {
    width: 5.5rem;
    height: 5.5rem;
  }

  .lower_part .card .body .item_cntnr .content .points p {
    font-size: 2.5rem;
    line-height: 2.3rem;
    margin: 0 0.8rem;
  }

  /*  */
  /*  */

  .skill_page .section_right {
    align-items: flex-end;
    flex-direction: column;
    /* transform: translateY(2rem); */
    /* border: 1px solid fuchsia; */
  }

  .skill_page .section_right .upper_part {
    display: flex;
    width: 100%;
    height: 15%;
    padding: 0.2rem 0;
    z-index: 2;
    /* border: 1px solid yellow; */
  }

  .skill_page .upper_part h2 {
    font-size: 8rem;
  }

  .skill_page .section_right .filter_cntnr {
    position: absolute;
    gap: 1.5rem;
    border-radius: 3rem;
    border: 0.3rem solid white;
    transform: translate(-39.5rem, 5rem);
    /* transform: translate(-39.5rem, 20rem); */
  }
  .skill_page .section_right .filter_cntnr .filter_item p {
    font-size: 2.2rem;
    border-radius: 2rem;
    border: 0.3rem solid white;
  }
  .skill_page .section_right .filter_cntnr .filter_item.active p {
    border: 0.3rem solid #a90d0d;
  }
  .skill_page .section_right .filter_cntnr .filter_item:hover p {
    border: 0.3rem solid #a90d0d;
  }

  .skill_page .section_right .lower_part {
    width: 70%;
    height: 80%;
    margin-top: 0rem;
    bottom: 0rem;
    overflow: hidden;
    /* border: 1px solid yellow; */
  }

  .skill_page .section_right .lower_part .skill_items_cntnr {
    padding: 2rem;
  }
  .skill_page .section_right .lower_part .skill_item {
    gap: 1.8rem;
    width: 15rem;
    height: 20rem;
    border: 0.3rem solid white;
  }
  .skill_page .section_right .lower_part .skill_item:hover {
    width: 16rem;
    height: 21rem;
    border: 0.3rem solid #09aeff;
  }

  .skill_page .section_right .lower_part .skill_item.active {
    width: 16rem;
    height: 21rem;
    border: 0.3rem solid #09aeff;
  }

  .skill_page .section_right .lower_part .skill_item img {
    width: 9rem;
    height: 9rem;
  }

  .skill_page .section_right .lower_part .skill_item .title {
    width: 85%;
    height: 3.2rem;
    border: 0.3rem solid #a90d0d;
  }

  .skill_page .section_right .lower_part .skill_item .title p {
    font-size: 2.8rem;
  }

  .skill_page .section_right .lower_part .skill_item .btn button {
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
  }

  .skill_page .section_right .lower_part .skill_item .btn:hover button {
    font-size: 2.1rem;
    border-radius: 1rem;
    padding: 0 1rem;
    border: 0.2rem solid black;
  }
}
